Your account has been successfully activated!

Confirmation code: {{ extracted_data.confirmation_code | default('N/A') }}

Welcome aboard! You can now access your account through online banking and our mobile app.
