Your card shipment has been expedited!

- New estimated delivery: {{ extracted_data.new_delivery_date | default('Tomorrow') }}
- Expedite fee: {{ extracted_data.expedite_fee | default('$25.00') }}

Is there anything else I can help you with?