Your replacement card has been ordered!

Order details:
- Order ID: {{ extracted_data.order_id | default('N/A') }}
- Estimated delivery: {{ extracted_data.estimated_delivery | default('5-7 business days') }}
- Tracking number: {{ extracted_data.tracking_number | default('N/A') }}

You will receive your new card at your address on file.